
.carousel{
    /* border:2px solid red; */
    width:100vw;
    height: 100vh;
    
}
.innerCarousel{
  /* border:2px solid blue; */
  width:100%;
  height:100%;
  position: relative;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  
}
.carouselItem{
    width:100%;
    height:100%;
    /* border:2px solid blue; */
    /* margin-top: 5%; */
   
}
.carouselItem img{
    width:100%;
    height:100%;
    object-fit: cover;
}

.prevIconContainer{
    border:2px solid black;
    width:3%;
    height:auto;
    border-radius: 50%;
    cursor: pointer;
    position:absolute;
    top:45%;
    left:5%;
}
.prevIconContainer img{
    width:100%;
    height:100%;
}

.nextIconContainer{
    border:2px solid black;
    width:3%;
    height:auto;
    border-radius: 50%;
    cursor: pointer;
    position:absolute;
    top:45%;
    right:5%;
}
.nextIconContainer img{
    width:100%;
    height:100%;
}

/* Object of college */
.collegeObjectiveCont{
    /* border:2px solid red; */
    width:70vw;
    height:100%;
    margin: auto;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
    
}

.collegeObjectiveCont h1{
    color:orangered;
}


.objectiveInnerCont{
   /* border:2px solid blue; */
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   margin-top: 5%;
}
.cardCont{
    border:2px solid grey;
    width:30%;
    height:100%;
    font-size:1.5rem;
    text-align: justify;
    margin:10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    color:white;

    
   
}
.cardCont:hover{
    background-color: rgba(128, 128, 128, 0.301);
}
.cardIconCont{
    /* border:2px solid red; */
    width:20%;
    height:20%;
    margin-top:5%;
   
}
.cardIconCont img{
    width:100%;
    height:100%;
    filter:invert(100%);
    -webkit-filter: invert(100%);
   
}

.cartItemCont{
    /* border:2px solid red; */
    margin-top: 5%;
}
.cartItemCont h3{
    font-weight: bold;
}


/* Department */

.departmentCont{
    /* border:2px solid red; */
    width:70vw;
    height:70vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.departmentCont h1{
    color:orangered;
    margin-bottom: 5%;
}
.departmentInnerCont{
   /* border:2px solid blue; */
   width:100%;
   height:100%;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   
}

.departmentCardCont{
    
    width:30%;
    height:auto;
    border-radius: 20px;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:15px;
    box-shadow: -1px -1px 3px 3px rgba(240, 248, 255, 0.104);
    transition: all 0.2s;
    
    
}

.departmentCartItemCont{
    /* border:1px solid grey; */
    font-size: 1rem;
    font-weight: bold;
    margin-top: 5%;
    color:aliceblue
   
}


/* Contact container */

#contact{
    /* border:2px solid red; */
    width:80%;
    height:70vh;
    margin: auto;
    margin-top: 10%;
    display: flex;
    justify-content: space-around;
    /* background-color: rgb(3 7 18); */
}
.contactCont{
    /* border:2px solid black; */
    width:40%;
    height:70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 5%;
    padding:10px;
    box-shadow: 1px 1px 3px 3px;
}


.contactCont h2{
    color:orangered;
    /* border:1px solid red; */
}
.pgoiBhopal{
    box-shadow: 1px 1px 3px 3px ;
    width:75%;
    height:auto;
    border-radius: 10px;
    padding:5px;
}
.collegeBorderCont{
    border:1px dashed black;
    width:100%;
    
}
.pgoiIndore{
    box-shadow: 1px 1px 3px 3px ;
    width:75%;
    padding:5px;
}
.contactDetails{
    color:aliceblue;
    font-size: 1rem;
}
.contactHeading{
    font-weight: bold;
    color:aliceblue;
    font-size: 1.1rem;
}

.contactFormCont{
    /* border:2px solid blue; */
    width:50%;
    height:100%;
    display: flex;
    justify-content: center;
}
.contactForm{
    /* border:2px solid red; */
    width:80%;
    height:auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 10%;

}
.contactForm input, textarea{
    width:100%;
    padding:10px;
    border-radius: 10px;
    border:none;
    outline: none;
    box-shadow: 1px 1px 3px 3px ;
    
}
.contactForm input,textarea::placeholder{
    font-size: 1.2rem;
    font-weight: bold;
}
.contactForm button{
    padding:10px;
    width:50%;
    box-shadow: 1px 1px 3px 3px;
    border-radius: 10px;
    color:white;
    font-size: 1.5rem;
    /* margin: auto; */
    background-color: rgba(255, 68, 0, 0.587);
}